# Ignore the virtual environment folder
ai-training/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore any other files you don't want to commit (optional)
*.log

